<ul>
  <li class="menu-item" routerLinkActive="menu-item-selected" [routerLink]="['/observable']">Observable</li>
  <li class="menu-item" routerLinkActive="menu-item-selected" [routerLink]="['/observer']">Observer</li>
  <li class="menu-item" routerLinkActive="menu-item-selected" [routerLink]="['/subscription']">Subscription</li>
  <li class="menu-item" routerLinkActive="menu-item-selected" [routerLink]="['/operators']">Operators</li>
  <li class="menu-item" routerLinkActive="menu-item-selected" [routerLink]="['/subject']">Subject</li>
  <li class="menu-item" routerLinkActive="menu-item-selected" [routerLink]="['/schedulers']">Schedulers</li>
</ul>
