/* You can add global styles to this file, and also import other style files */
@import '../node_modules/modern-normalize/modern-normalize.css';

/* FONTS */
@import 'assets/style/iconfont';

/* self */
ul, ol{
  list-style: none;
}
body{
  font-size: 14px;
}
.left-menu{
  width: 12.5rem;
  background: lightblue;
}


